<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  
  <div class="contenedor">
    <form action="/admin/courses" method="post" class="form" enctype="multipart/form-data">
        <div class="form-header">
            <h1 class="form-title">Agregar Curso</span></h1>
        </div>
        <div class="form-header">
            <h1 class="agregar-Curso"></h1>
        </div>
        <label for="name" class="form-label">Nombre del Curso</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Ej: Introducción a React">
        <label for="price" class="form-label">Precio</label>
        <input type="number" name="price" class="form-control" id="price" placeholder="Ej: $1500">
        <label for="instructor" class="form-label">Instructor</label>
        <input type="text" name="instructor" class="form-control" id="instructor" placeholder="Ej: Mark Thompson">
        <label for="contentHours" class="form-label">Horas de contenido</label>
        <input type="number" name="content_hours" class="form-control" id="contentHours" placeholder="Ej: 40">
        <label for="practiceTime" class="form-label">Horas de práctica</label>
        <input type="number" name="practice_time" class="form-control" id="practiceTime" placeholder="Ej: 30">
        <label for="lessons" class="form-label">Lecciones</label>
        <input type="number" name="lessons" class="form-control" id="lessons" placeholder="Ej: 25">
        
        <label for="category" class="form-label">Categorias</label>
    <select name="category_d" class="form-control" id="category" aria-label="Default select example">
            <option selected hidden>Categoría</option>
            <% categories.forEach(({id, name}) => { %>
                <option value="<%= id %>"><%= name %> </option>
            <% }) %> 
        </select>
        <label for="description" class="form-label">Descripción</label>
        <textarea name="description" class="form-control" id="description" rows="3"
            placeholder="Escriba la descripción del curso"></textarea>
        <label for="inputFile" class="form-label">Imagen del producto</label>
        <input type="file" multiple class="form-control" id="inputFile" name="image">

        <button class="btn_agregar" type="submit">Agregar</button>
    </form>
</div>

      <%- include('../partials/footer') %> 
      
     
</body>
</html>
