<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  
  <div class="contenedor">
    <form action="/admin/courses/<%= course.id %>?_method=PUT" method="post" class="form">
        <div class="form-header">
            <h1 class="form-title">Editar Curso</span></h1>
        </div>
        <div class="form-header">
            <h1 class="Agregar Curso"></h1>
        </div>
        <label for="name" class="form-label"> Nombre del Curso</label>
        <input type="text" name="name" class="form-control" id="name" value="<%= course.name %>">
        <label for="price" class="form-label">Precio</label>
        <input type="number" name="price" class="form-control" id="price" value="<%= course.price %>">
        <label for="category" class="form-label">Categorias</label>
        <select name="categoryId" class="form-control" id="category" aria-label="Default select example">
            <option selected hidden>Categoría</option>
            <% categories.forEach(category => { %>
                <option value="<%- category.id %>" <%= (locals.old && old.category_id) && old.category_id === category.id || category.id === course.category_id ? "selected" : "" %>><%- category.name %> </option>
              <% }) %>
        </select>
        
        <label for="description" class="form-label">Descripción</label>
        <textarea name="description" class="form-control" id="description" rows="3"><%= course.description %></textarea>
        <button class="btn_editar" type="submit">Editar</button>
    </form>
</div>

      <%- include('../partials/footer') %> 

</body>
</html>