<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <table class="main-container">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% course.forEach(course=> { %>
            <tr>
              <th scope="row">
                <%- course.id %>
              </th>
              <td>
                <%- course.name %>
              </td>
              <td>
                <%- course.price %>
              </td>
              <td>
                <%- course.categoryId %>
              </td>
              <td>
                <a href="/admin/courses/edit/<%- course.id %>" class="btn btn-success">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <form action="/admin/courses/delete/<%- course.id %>?_method=DELETE" method="post">
                  <button class="btn btn-danger" type="submit">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>


      <%- include('../partials/footer') %>

  </body>

</html>