<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
    <body>
        <%- include ('../partials/header') %>
            <main class="main_index">
                <section class="main_banner-categorias">
                    <div class="titulo_banner">
                        <h1 class="titulo_banner-categories">CATEGORIAS</h1>
                    </div>
                </section>
                <section class="categories-section">
                    <h3></h3>
                    <% getCategories.forEach( category => { %> 
                        <article class="main-courses">
                            <span class="course-span"> <a href="/categories/<%- category.id %>" class="category-a"><%= category.name %></a></span>
                        </article>
                    <% }) %> 
                </section>
            </main>
            <%- include ('../partials/footer') %>
                <script src="/js/header.js"></script>
    </body>

</html>