<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head', {titulo: 'Resultados de tu búsqueda'}) %>
<body>
	<%- include ('../partials/header') %>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de la búsqueda: <%= busqueda %> </h2>
			</div>
			<% if (courses.length > 0) { %>
			 	<% courses.forEach(course => { %>
					<div class="courses-found">
						<% courses.forEach(({id, name, price, description, courseImage}) => { %> 
							<article class="main-courses">
								<a href="/products/detail/<%= id %>">
								<span class="course-span"> </span>
								<picture><img width="100%" alt="Curso Inglés" class="course_image"></picture>
								<h4 class="course-title"><%= name %> </h4>
								<p class="course-description"><%= description %> </p>
								<p class="course-price">ARS$ <%- toThousand(price)%> </p>
								<p class="more-info">+ INFO</p>
								</a>
							</article>
						<% }) %> 
					</div>
				<% }) %>
			<% } else { %>
			<div class="col-12">
				<h2 class="courses-title" style="color: tomato;">No hay cursos que coincidan con esa búsqueda</h2>
			</div>
			<% } %>
		</div>
	</div>
	<%- include('../partials/footer') %>

</body>	
</html>