<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %> 
<body>
    <%- include ('../partials/header') %> 
        <h1>Crear Curso</h1> 
        <form action="/products/crear" method="POST">
            <div>
                <label for="">Nombre del Curso</label>
                <input type= "text" name="name">
            </div>
            <div>
                <label for="">Precio</label>
                <input type= "text" name="price">
            </div>
            <div>
                <label for="">Descripcion</label>
                <input type= "text" name="description">
            </div>
            <div>
                <label for="">Instructor</label>
                <input type= "text" name="instructor">
            </div>
            <div>
                <label for="">Tiempo de práctica</label>
                <input type= "text" name="practice_time">
            </div>
            <div>
                <label for="">Número de lecciones</label>
                <input type= "text" name="lessons">
            </div>
            <div>
                <label for="">Horas de contenido</label>
                <input type= "text" name="content_hours">
            </div>
            <div>
                <label for="">Imagen</label>
                <input type= "text" name="image">
            </div>
            <div>
                <label for="">categoria</label>
                <select name="categoria">
                        <% for (let i = 0; i < courses.length; i++){
                        %>
                    }
                    <option value="<%=categories[i].id">
                        <%=categories[i].name%>
                        

                    </option>
                    <% } %>
                </select>
            </div>
            <button type="submit">Crear Curso</button>
        </form>   

       
       
    <%- include ('../partials/footer') %>
    <script>
        const Temario = document.getElementsByClassName('tema');
        for (i = 0; i < Temario.length; i++) {
            Temario[i].addEventListener('click', function () {
                this.classList.toggle('active')
            })
        }
    </script>
    <script src="/js/header.js"></script>
</body>
</html>