<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

    <body>
        <%- include ('partials/header') %>
            <div class="container">
                <div class="text-box">
                    <p class="brainhub-banner">Somos</p>
                    <h1 id="brainhub">BRAIN-HUB</h1>
                    <h3>TRAINING </h3>
                    <p class="brainhub-banner">cursos on line</p>

                </div>
            </div>
            <main class="main_index">
                <section class="main_banner">
                    <div class="titulo_banner">
                        <h1 class="titulo_banner">NUESTROS CURSOS</h1>
                    </div>
                </section>
                <section>
                    <h3 id="idiomas" class="course-categories">IDIOMAS</h3>
                    <% idiomas.forEach(({id, name, price, description, courseImage}) => { %> 
                        <article class="main-courses">
                            <a href="/products/detail/<%= id %>">
                            <span class="course-span"> </span>
                            <picture><img width="100%"  class="course_image"></picture>
                            <h4 class="course-title"><%= name %> </h4>
                            <p class="course-description"><%= description %> </p>
                            <p class="course-price">ARS$ <%- toThousand(price)%> </p>
                            <p class="more-info">+ INFO</p>
                            </a>
                        </article>
                    <% }) %> 
                    
                </section>
                <section>
                    <h3 id="tecnologia" class="course-categories">PROGRAMACIÓN</h3>
                    <% programacion.forEach(({id, name, price, description, courseImage}) => { %> 
                        <article class="main-courses">
                            <a href="/products/detail/<%= id %>">
                            <span class="course-span"> </span>
                            <picture><img width="100%" class="course_image"></picture>
                            <h4 class="course-title"><%= name %> </h4>
                            <p class="course-description"><%= description %> </p>
                            <p class="course-price">ARS$ <%- toThousand(price)%> </p>
                            <p class="more-info">+ INFO</p>
                            </a>
                        </article>
                    <% }) %>
                </section>
            </main>
            <%- include ('partials/footer') %>
                <script src="/js/header.js"></script>
    </body>

</html>