<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %> 
    <body class="login_body">
        <%- include ('../partials/header') %> 
        <section class="container-login">
            <h2 class="title">Iniciar sesión</h2>
            <button class="btn-log-facebook btn">Inicia sesión con Facebook</button>
            <button class="btn-log-google btn">Inicia sesión con Google</button>
            <form class="container-form" action="/users/login" method="post">
                <div class="input-container">
                    <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <% if (locals.errors && errors.email){ %>
                        <small class="text-danger"><%= errors.email.msg %></small>
                   <% } %> 
                    <input class="input-log" type="password" name="pass" placeholder="Ingrese su contraseña">
                    <% if (locals.errors && errors.pass){ %>
                        <small class="text-danger"><%= errors.pass.msg %></small>
                   <% } %>
                </div>
                <div class="check-remember">
                    <label for="recordar">Recordar <input type="checkbox" name="terms" id="recordar"></label>
                </div>
                <button type="submit" class="btn btn-log">Ingresar</button>
                <p class="link_pass-recover"><a href="#">¿Olvidaste tu contraseña?</a></p>
                <p>¿Aún no tienes cuenta en BrainHub?</p>
                <button class="btn-register btn"> <a href="/users/register">Registrate</a></button>
            </form>
        </section>
        <%- include ('../partials/footer') %>
    </body>
</html>