<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
    <body class="login_body">
        <%- include ('../partials/header') %>
            <section class="container-login">
                <p class="text-end">¿Ya estás registrado? <a href="/users/login" id="register-a-login">¡Logueate!</a></p>
                <h2 class="title">Registrarse</h2>
                <form class="container-form" action="/users/register" method="post" enctype="multipart/form-data" id="form">
                    <div class="input-container">
                        <input class="input-log" type="nombre" class="input-style" name="name" id="name" value="<%= locals.old && old.name %>"
                            placeholder="Ingrese su nombre y apellido" minlength="2">
                            <span class="error" id="nameErrors"></span>
                            <% if (locals.errors && errors.name){
                                %><small class="text-danger" style="color: red;"><%= errors.name.msg %></small>
                                <% } %>
                        <input class="input-log" type="email" class="input-style" id="email" name="email" value="<%= locals.old && old.email %>"
                            placeholder="Ingrese su email">
                            <span id="emailErrors"></span>
                            <% if (locals.errors && errors.email){
                                %><small class="text-danger" style="color: red;"><%= errors.email.msg %></small>
                                <% } %>
                        <input class="input-log" type="password" id="pass" name="pass" placeholder="Crea tu contraseña">
                        <span id="passErrors"></span>
                        <% if (locals.errors && errors.pass){
                            %><small class="text-danger" style="color: red;"><%= errors.pass.msg %></small>
                            <% } %>
                        <label for="password2" id=""> Repita su contraseña</label>
                        <input class="input-log" type="password" name="password2" required id="password2"
                            placeholder="Confirma tu contraseña">
                            <span id="pass2Errors"></span>
                            <% if (locals.errors && errors.password2){
                                %><small class="text-danger" style="color: red;"><%= errors.password2.msg %></small>
                            <% } %>
                    </div>
                    <div class="upload-avatar">
                        <label for="avatar">Avatar</label>
                        <input type="file" name="avatar" id="avatar">
                        <div class="img-container" id="img-preview" onChange="fileValidation"> </div>
                        <span id="fileErrors"></span>
                    </div>
                    <div>
                    <button class="btn-register btn" type="submit">Registrate</button>
                    <button class="btn" type="reset">Limpiar</button>
                    </div>
                </form>
            </section>
            <%- include ('../partials/footer') %>
            <script src="../../../public/js/userRegister.js"></script>
    </body>

</html>